@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media (max-width: 768px) {
  .h1-animate,
  .h1-animate2,
  .h1-animate3 {
    font-size: 4rem;
  }
}

@media (min-width: 769px) {
  .h1-animate,
  .h1-animate2,
  .h1-animate3 {
    font-size: 6rem;
  }
}

@keyframes h1-animation {
  0% {
    font-size: 2000px;
    margin-top: -100%;
    margin-left: -100%;
  }
  100% {
    margin-top: -170px;
  }
}

.h1-animate {
  animation: h1-animation 2s ease-in-out forwards;
}

@keyframes h1-animation2 {
  0% {
    margin-top: -170px;
  }
  100% {
    margin-top: -250px;
  }
}

.h1-animate2 {
  animation: h1-animation2 3s ease-in-out forwards;
}

@keyframes h1-animation3 {
  0% {
    margin-top: -250px;
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-500px);
  }
}

.h1-animate3 {
  animation: h1-animation3 3s ease-in-out forwards;
}

/* ====================================================================================== */

@media (max-width: 768px) {
  .h3-animation,
  .h3-animation2 {
    font-size: 1rem;
  }
}

@media (min-width: 769px) {
  .h3-animation,
  .h3-animation2 {
    font-size: 2rem;
  }
}

@keyframes h3-animation {
  0% {
    margin-top: -50px;
    display: hidden;
  }
  50% {
    margin-top: -20px;
    display: block;
    opacity: 0.5;
  }
  100% {
    margin-top: -20px;
    display: block;
    opacity: 1;
  }
}

.h3-animate {
  animation: h3-animation 3s ease-in-out forwards;
}

@keyframes h3-animation2 {
  0% {
    margin-top: -20px;
    opacity: 1;
  }
  100% {
    margin-top: -20px;
    opacity: 0;
    transform: translateY(-500px);
  }
}

.h3-animate2 {
  animation: h3-animation2 3s ease-in-out forwards;
}
