@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply max-w-[1440px] mx-auto text-start;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}
